body {
    background-image: url("images/back.png");
    background-size: cover;
    background-position: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #476042; /* Dark olive green header background */
    color: #fff; /* White text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.header h1 {
    margin: 0; /* Remove margin to avoid space around the heading */
    font-size: 36px; /* Increase font size for the main heading */
}

.header h2 {
    margin-top: 10px; /* Add slightly more margin to separate the headings */
    font-size: 18px; /* Adjust font size for the subheading */
    font-style: italic; /* Add italic style to the subheading */
}

.buttons {
    margin: 10px;
    display: flex;
    justify-content: flex-end; /* Align buttons to the left */
}

.buttons button {
    margin-right: 10px; /* Add some space between buttons */
    background-color: #6b7c6a; /* Dark olive green button background */
    color: #fff; /* White button text color */
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add smooth transition */
}

.buttons button:hover {
    background-color: #8c9c8a; /* Lighter olive green on button hover */
}

.thumbnails {
    background-color: #f5f5da; /* Light yellow thumbnail background */
    border-radius: 10px;
    padding: 10px;
    width: 50%; /* Ensure the container takes up the full width */
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Define scrollbar styles */
.thumbnails::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    background-color: #f5f5da; /* Light yellow scrollbar background */
}

.thumbnails::-webkit-scrollbar-thumb {
    background-color: #b0b291; /* Olive green scrollbar handle */
    border-radius: 4px;
}

.thumbnails::-webkit-scrollbar-thumb:hover {
    background-color: #918f6e; /* Darker olive green on scrollbar handle hover */
}

.thumbnailImages {
    display: flex;
    flex-direction: row; /* Display thumbnails in a row */
    padding: 5px 0; /* Add padding to the top and bottom */
}

.thumbnailImages img {
    width: 130px;
    height: auto;
    cursor: pointer;
    margin-right: 10px; /* Add some space between thumbnails */
    border-radius: 5px; /* Add border radius to thumbnails */
}

.loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url("images/loader.gif"); /* Replace 'loading.gif' with the path to your loading icon */
    background-size: cover;
    display: none; /* Hide the loading icon by default */
}

.fullImage {
    margin-top: 20px;
    position: relative;
    text-align: center;
    justify-content: space-between;
    background-color: #fff; /* White background for full image */
    border-radius: 10px;
    padding: 10px; /* Add padding for better appearance */
}

.fullImage img {
    max-width: 200%;
    height: auto;
    max-height: 400px; /* Adjust as needed */
    border-radius: 10px;
}

#captionText {
    position: relative;
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff; /* Dark gray caption text color */
    font-weight: bold;
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

.footer {
    background-color: #476042; /* Dark olive green footer background */
    color: #fff; /* White text color in footer */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    border-radius: 10px;
    padding: 30px;
}
@media screen and (max-width: 800px) {
    body {
        background-image: url("images/mobile-back.jpg");
        background-position: center;
        background-size: cover;
    }
    .thumbnails{
        width: 75%;
    }
    .thumbnailImages img {
        width: 48%; /* Adjust width to fit two thumbnails per row */
        margin-right: 5px; /* Adjust margin for smaller screens */
    }

    .gallery {
        padding: 10%;
    }

    .prevBtn,
    .nextBtn {
        font-size: 14px; /* Adjust font size of prev/next buttons for smaller screens */
    }

    .fullImage {
        margin-top: 20px;
        text-align: center;
    }

    .fullImage img {
        max-width: 90%; /* Adjust width for smaller screens */
        height: auto;
        max-height: 300px; /* Adjust max height for smaller screens */
        margin: 0 auto; /* Center the image horizontally */
    }

}
